# Dependencies
node_modules/
.pnpm-debug.log*

# Build outputs
**/dist/
**/build/
**/out/
**/.next/
**/.nuxt/
**/storybook-static/
**/.temp/
**/.docusaurus/

# Environment files
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov
.nyc_output/

# TypeScript
*.tsbuildinfo

# IDE / Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
.history/
.ionide/

# OS files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
.DS_Store

# Others
.npm
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
.serverless/
.fusebox/
.dynamodb/
.tern-port
*.tgz
.yarn-integrity
.pnp.*
packages/ui/src/sample
